*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main
{
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 20px;
    margin-top: 50px;
    flex-wrap: wrap;

}
.btn{
    background-color: chartreuse;
    width: 60px;
    border-radius: 12px;
}
.para{
    
    padding: 6px;
}
.p{
    font-size: 25px;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 50px;
}